body{
    font-family: sans-serif;
}

header{
    display: flex;
    margin: 2.5rem 6.25rem;
    margin-bottom: 1.875rem;
    justify-content: space-between;
}
/* logo */
header .div1{
    display: flex;
    gap: 1.875rem;
}
header .logo{
    width: 1.563rem;
    height: 2.188rem;
}
header .logo_div{
    display: flex;
    gap: 0.438rem;
    cursor: pointer;
    
}
header .title{
    font-size: 1.75rem;
    color: rgb(8, 70, 103);
    font-weight: 700;
    margin-top: 0;
}
header .menue{
    display: flex;
    gap: 1.25rem;
    color:rgb(8, 70, 103) ;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 0.625rem;
}
header a{
    cursor: pointer;}
header a:hover{
    text-decoration: underline;
}
header .div2{
    display: flex;
    gap: 0.625rem;
    cursor: pointer;
}

header .cart{
    display: flex;
    align-items: center;
    gap: 0.188rem;
    border: 0.5px solid rgb(202, 203, 204);
    height: 2.438rem;
    width: 7.5rem;
    border-radius: 2.5rem;
}
header .p2{
    margin-top: 0.5rem;
    color: rgb(8, 70, 103);
    font-size: 0.875rem;
    font-weight: 600;
}
header .img1, .img2{
    width: 2.5rem;
    height: 2.5rem;
}
header .search{
    cursor: pointer;
}

body .divShop{
    margin-top: 0;
    background-image: url("https://res.cloudinary.com/dtrvdcebd/image/upload/v1708266049/Clothy/tsjuoq7yti3kchyq1dmt.png");
    color: #ffff;
    width: 100%;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 15.625rem;
    font-size: 3.125rem;
    padding-top: 7.5rem;
    margin-bottom: 6.25rem;
}

.div4{
    background-image: url("https://res.cloudinary.com/dtrvdcebd/image/upload/v1708266045/Clothy/l04wim0gq4l6c3rk5p32.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50rem;
    height: 7.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.875rem;
    margin:1.875rem auto;
    padding: 3.125rem;
}
.div4 p{
    width: 12.5rem;
}
.div4 .input{
    height: 3.125rem;
    width: 13.75rem;
    border: none;
    padding-left: 0.625rem;
    border-radius: 10px;
}
.div4 .subscribe_btn{
    height: 3.125rem;
    width: 9.375rem;
    border-radius: 10px;
    border: none;
    color: #ffff;
    background-color: rgb(9, 69, 101);
    cursor: pointer;
}
.div4 .subscribe_btn:hover{
    background-color:rgb(6, 50, 73) ;
}
/* footer */

footer{
    display: flex;
    margin: 0 15.625rem;
    margin-bottom: 1.25rem;
}
footer .div1{
    width: 9.375rem;
}
footer .div{
    text-align: right;
}
footer .p1{
    color: rgb(12, 97, 143);
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
}
footer .p1:hover{
    border-bottom: 2px solid rgb(8, 70, 103);
}
footer .p2{
    color: rgb(54, 54, 54);
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: -0.625rem;
}
footer .p3{
    color: rgb(92, 92, 92);
    font-size: 0.75rem;
    font-weight: 600;
}
footer .div2{
    text-align: center;
    margin: 0.625rem 0;
}
footer .logo{
    width: 1.563rem;
    height: 2.188rem;
}
footer .logo_div{
    display: flex;
    gap: 0.438rem;
    justify-content: center;
    cursor: pointer;
}
footer .title{
    font-size: 1.563rem;
    color: rgb(9, 82, 121);
    font-weight: 700;
    margin-top: 0.188rem;
}
footer .paragraph{
    margin: 0.625rem 0.625rem;
    color: gray;
    text-align: center;
    width: 18.75rem;
    font-size: 0.875rem;
}
footer .img1{
    width: 2.188rem;
    margin: 0.313rem;
    cursor: pointer;
}
footer .img1:hover{
    scale: 1.2;
}
.footer{
    font-size: 0.688rem;
    color: rgb(90, 90, 90);
    text-align: center;
}
section{
    text-align: center;
}

section .categoryDiv{
    background-color: rgb(249 249 249);
    width: 16.875rem;
    height: 21.875rem;
    margin-left: 5rem;
    border-radius:20px ;

}
section .category{
    background-image: url("https://res.cloudinary.com/dtrvdcebd/image/upload/v1708266044/Clothy/giywnwhsomoybyi9vgxj.png");
    color: #ffff;
    margin: 0.625rem;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    font-size: 0.75rel;
    width: 5.625rem;
    height: 1.25rem;
    padding-top: 0.313rem;

}
section .productImg{
    border-radius: 30px;
    width: 12.5rem;
    margin-left: 1.563rem;
}
section .div{
    display: flex;
    justify-content: center;
    gap: 3.125rem;
}

section .div1{
    width: 31.25rem;
    text-align: left;
    margin: 1.875rem 1.875rem;
}
section .productName{
    font-size: 1.438rem;
    color: rgb(8, 70, 103);
    font-weight: 600;
}
section .stars{
    width: 6.25rem;
    height: 1.25rem;
}
section .productPrix{
    font-size: 1.25rem;
    color: rgb(8, 70, 103);
    font-weight: 600;    
}

section .description{
    font-size: 0.813rem;
    color: rgb(111, 110, 110);
    margin-bottom:30px ;
}
section .quantity{
    font-size: 0.938rem;
    color: rgb(8, 70, 103);
    font-weight: 600; 
}
section .num{
    border: 1px solid rgb(8, 70, 103);
    text-align: center;
    border-radius:5px ;
    height: 2.188rem;
    width: 3.75rem;
    margin-right: 0.938rem;
    margin-left: 0.938rem;
}
section .paragraph{
    width: 34.375rem;
    text-align: center;
    margin: 0.625rem 21.875rem;
    font-size: 0.875rem;
    color: rgb(110, 110, 110);
}
section .button1{
    width:7.5rem ;
    height: 2.5rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(8, 70, 103);
    color: #ffff;
    cursor: pointer;
}
section .button1:hover{
    background-color: rgb(5, 49, 73);
}
section .div3{
    margin: 3.125rem;
}
section .button2{
    width: 11.25rem;
    height: 2.5rem;
    border: none;
    margin: 1.25rem;
    color: #ffff;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(8, 70, 103);
    cursor: pointer;
}
section .button2:hover{
    color: rgb(8, 70, 103);
    background-color: #dbdada;
    font-weight: 600;

}
section .button3{
    width: 11.25rem;
    height: 2.5rem;
    border: none;
    margin: 1.25rem;
    color: rgb(8, 70, 103);
    font-weight: 600;
    border-radius: 10px;
    background-color: #efeded;
    cursor: pointer;
}
section .button3:hover{
    background-color: rgb(4, 36, 54);
    color: #ffff;
}